@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
  margin-bottom: 0px !important;
}

.container h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 5px dotted #f0f0f0;
}

.container h4 {
  padding-top: 1.5rem;
  border-bottom: 2px groove #f8f8f8;
}

.names .name {
  font-size: 1.5rem !important;
}