@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply text-black dark:text-white;
  font-family: var(--stk-base-font-family,"游ゴシック","Yu Gothic","游ゴシック体","YuGothic","Hiragino Kaku Gothic ProN",Meiryo,sans-serif);
}

p {
  font-family: var(--stk-base-font-family,"游ゴシック","Yu Gothic","游ゴシック体","YuGothic","Hiragino Kaku Gothic ProN",Meiryo,sans-serif) !important;
}

body div a {
  @apply text-blue-500 hover:text-blue-300 dark:text-blue-300 dark:hover:text-blue-100
}

.profile .user h1 {
  margin-bottom: 0px;
}

.title h1 {
  @apply mt-4 mb-8
}

.container h2 {
  @apply text-lg bg-orange-400 dark:bg-orange-700 text-white px-4 py-3 rounded relative block w-auto mt-16 mb-8
}

.container h2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #fb923c;
}

@media (prefers-color-scheme: dark) {
  .container h2:before {
    border-top: 15px solid #C2410C;
  }
}

.container h3 {
  @apply mt-16 mb-8;
}

.container h4 {
  @apply mt-12 mb-8 border-t-2 border-b-2 border-purple-800 dark:border-purple-300 text-purple-800 dark:text-purple-300
}

.container h5 {
  @apply mt-12 mb-8;
}

.names .name {
  font-size: 1.5rem !important;
}


blockquote {
  @apply !bg-gray-50 dark:!bg-gray-900 dark:!text-white;
  max-width: 100%;
  position: relative;
  padding: 30px 50px !important;
  color: #333333;
}

blockquote::before {
  display: inline-block;
  position: absolute;
  top: 1em;
  left: 1.5em;
  width: 1.5em;
  height: 1.5em;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23d02525%22%20d%3D%22M21.8%2012H18V9c0-1.7%201.3-3%203-3h.4c.6%200%201.1-.5%201.1-1.1V2.6c0-.6-.5-1.1-1.1-1.1H21c-4.1%200-7.5%203.4-7.5%207.5v11.2c0%201.2%201%202.2%202.2%202.2h6c1.2%200%202.2-1%202.2-2.2v-6C24%2013%2023%2012%2021.8%2012zM8.2%2012H4.5V9c0-1.7%201.3-3%203-3h.4C8.5%206%209%205.5%209%204.9V2.6c0-.6-.5-1.1-1.1-1.1h-.4C3.4%201.5%200%204.9%200%209v11.2c0%201.2%201%202.2%202.2%202.2h6c1.2%200%202.2-1%202.2-2.2v-6c.1-1.2-.9-2.2-2.2-2.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  content: '';
}

blockquote p {
  margin-top: 0;
}

blockquote cite {
  display: block;
  color: #737373;
  font-size: .8em;
  text-align: right;
}

pre {
  background: #303030;
}

pre.language-text,
pre.language-json,
pre.language-typescript,
pre.language-javascript,
pre.language-html {
  margin-top: 0px !important;
  margin-bottom: 30px !important;
  border: none !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

/* IntroduceMyself */

.balloon2-left {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border-right: 14px solid #FFF;
  border: 12px solid transparent;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 15px solid #555;
  z-index: 1;
}

.balloon2-left p {
  margin: 0;
  padding: 0;
}

img.overImage {
  width: 100px !important;
  height: 100px !important;
}