@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply text-black dark:text-white
}

body div a {
  @apply text-blue-500 hover:text-blue-300 dark:text-blue-300 dark:hover:text-blue-100
}

.profile .user h1 {
  margin-bottom: 0px;
}

.title h1 {
  @apply mt-4 mb-8
}

.container h2 {
  @apply text-lg bg-orange-400 text-white px-4 py-3 rounded relative block w-auto mt-16 mb-8
}

.container h2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #fb923c;
}

.container h3 {
  @apply mt-16 mb-8;
}

.container h4 {
  @apply mt-12 mb-8 border-t-2 border-b-2 border-purple-800 dark:border-purple-300 text-purple-800 dark:text-purple-300
}

.container h5 {
  @apply mt-12 mb-8;
}

.names .name {
  font-size: 1.5rem !important;
}

blockquote p {
  @apply text-black dark:text-black
}

pre {
  background: #303030;
}

pre.language-text,
pre.language-json,
pre.language-typescript,
pre.language-javascript,
pre.language-html {
  margin-top: 0px !important;
  margin-bottom: 30px !important;
  border: none !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

/* IntroduceMyself */

.balloon2-left {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border-right: 14px solid #FFF;
  border: 12px solid transparent;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 15px solid #555;
  z-index: 1;
}

.balloon2-left p {
  margin: 0;
  padding: 0;
}

img.overImage {
  width: 100px !important;
  height: 100px !important;
}