.imageContainer>span {
  position: unset !important;
}

.image {
  position: relative !important;
  width: 100% !important;
  height: unset !important;
}

.imageHalf {
  position: relative !important;
  width: 50% !important;
  height: unset !important;
}